.header {
  border-style: dashed;
  height: 10em;
  position: relative;
}

.center {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50% , -50%);
}

.cabecalho {
  top: 40%;
}

.header p {
  top: 70%;
}

.meme-generator {
  height: auto;
}

.meme-container {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  min-height: 400px;
  text-align: center;
  width: 400px;
}

.meme-img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.meme-text {
  bottom: 0;
  color: white;
  font-size: 30px;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  width: 400px;
  word-wrap: normal;
}

.memes-inputs {
  margin-bottom: 10px;
  margin-top: 10px;
}
