body {
  background-color: antiquewhite;
  color: black;
  font-family: helvetica, sans-serif;
  z-index: 0;
}

h1 {
  margin: 30px;
  text-align: center;
}

.text-input {
  margin: 15px;
}

.meme-image-container {
  background-color: white;
  border: solid 1px black;
  height: 400px;
  margin: 30px;
  width: 400px;
}

.meme-insert {
  z-index: 2;
}

.meme-text {
  color: white;
  font-size: 30px;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  top: 550px;
  z-index: 3;
}