.text_meme {
  height: max-content;
  width: fit-content;
  word-break: break-all;

  /* QUEBRA PALAVRAS GRANDES NO TAMANHO DA DIV*/
}

.tamanho_conteiner_imagem_e_texto {
  background-color: white;
  border: 1px solid black;
  height: auto;
  position: relative;
  width: 600px;
}

.location_text_meme {
  bottom: 0px;
  position: absolute;
  vertical-align: bottom;
}

.style_text_meme {
  font-size: 2em;
  text-shadow: 5px 5px 5px black;
}

.container_image{
  border: 1px solid black;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
#meme-text{
  font-size: 30px;
  color: white;
  size: 30px;
  
}