#meme-image-conteiner{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-color: white;
}

#meme-text{
    position: absolute;
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    height: 400px;
    width: 400px;

}