.meme-image-container {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 400px;
  width: 400px;
}

.meme-image {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.meme-insert {
  width: 120px;
}

.memes {
  height: 100px;
  width: 120px;
}

.meme-text {
  color: white;
  font-family: Arial, serif;
  font-size: 30px;
  margin: 20px;
  overflow: hidden;
  position: absolute;
  text-shadow: 5px 5px 5px black;
  top: 500px;
  width: 350px;
  z-index: 2;
}

.fire {
  background-color: red;
  border-color: rgb(220, 160, 10);
  border-style: dashed;
  border-width: 3px;
}

.water {
  background-color: blue;
  border-color: rgb(70, 150, 225);
  border-style: double;
  border-width: 5px;
}

.earth {
  background-color: green;
  border-color: rgb(100, 220, 100);
  border-style: groove;
  border-width: 6px;
}

.posicao-botoes {
  height: 50px;
  left: 50px;
  top: 500px;
  width: 350px;
}

body {
  width: 70%;
  margin: 0 auto;
}