.meme-image-container {
  align-content: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.meme-image {
  height: 500px;
  object-fit: fill;
  object-position: 50% 50%;
  width: 500px;
}

.meme-text {
  font-size: 32px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 300px;
  word-break: break-all;
  word-wrap: break-word;
  z-index: 1;
}
