.confirm-text{
  display: inline-block;
}

#meme-image-container {
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  position: relative;
  text-align: center;
  width: 885px;
  height: 500px;
}

#meme-text {
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#meme-image {
  width: 885px;
  height: 500px;
}