.meme-image-container {
  background-color: white;
  border: 1px solid black;
  margin-left: 30px; 
  width: fit-content;
  word-wrap: break-word;
}
.meme-image {
  height: 350px;
  position: relative;
  width: 400px;
  word-wrap: break-word;
}

.meme-text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bolder;
  margin-left: 30px;
  margin-top: -80px;
  position: absolute;
  text-shadow: rgb(0, 0, 0) 5px 5px 5px;
  word-wrap: break-word;
}

.text-input {
  margin-left: 30px;
  word-wrap: break-word;
}

h1 {
  margin-left: 30px;
}
.botao {
  margin-left: 30px;
  margin-top: 30px;
}
.earth {
  background-color:rgb(0, 128, 0);
  border: 1px dashed brown;
  color: rgb(78, 30, 11);
}

.fire {
  background-color:rgb(255, 0, 0);
  border: 1px dotted red;
  color: rgb(92, 10, 10);
}

.water {
  background-color:rgb(0, 0, 255);
  border: 1px double blue;
  color: rgb(9, 9, 128);
}