.meme-image-container {
  background-color: white;
  margin-left: 30px; 
}
.meme-image {
  border: 1px solid black;
  height: 300px;
  position: relative;
  width: 350px;
}

.meme-text {
  color: ;  
  margin-bottom: 15px;
  margin-left: 5px;
  width: 352px;
}

.meme-text {
  color: red;
  font-size: x-large;
  font-weight: bolder;
  margin-left: 30px;
  margin-top: -80px;
  position: absolute;
  word-wrap: break-word;
}

.text-input {
  margin-left: 30px;
}

h1 {
  margin-left: 30px;
}
