/* css do label e  da caixa de texto*/

#armazenaTudo {
    width: 350px;
    height: 494px;
    border: 1px solid;
    border-radius: 5px;
    position: relative;
    left: 360px;
    z-index: 0;
}
/*fim do armazena tudo*/


/*label e partes pertencentes ao cabeçalho*/
label{
    margin-left: 35px;
}
#text-input {
    width: 196px;
    height: 12px;
    margin-bottom: 5px;
}
h3{
    margin-left: 35px;
}
/*fim da parte relativa ao label*/


/*Inicio do estilo para o canteiner e seu filhos*/
#meme-image-container {
    position: relative;
    left: 20px;
    border: 1px solid black;
    width: 309px;
    top: 10px;
    height: 192px;
    background-color: white;
    z-index: 1;
}
#meme-image {
    position: relative;
    top: 2px;
    left: 1px;
    font-size: 25px;
    width: 303px;
    height: 185px;
    margin: 0;
    border: 2px solid;
    z-index: 2;
}
#meme-text {
    position: absolute;
    top: 122px;
    left: 7px;
    font-size: 25px;
    width: 296px;
    height: 64px;
    margin: 0;
    font-size: 30px;
    z-index: 3;
    color: white;
    text-shadow: 5px 5px 5px black;
    
}
#meme img{
    width: 50px;
    height: 50px;
}
/*Fim do estilo para o canteiner e seu filhos*/

/*Estilos da seção dos botões */
#stCostumizados{
    position: relative;
    top: 12px;
    
}
#stCostumizados p{
    position: relative;
    left: 25px;
    bottom: 14px;
}
#fire{
    position: relative;
    bottom: 20px;
    left: 53px;
    background-color: rgb(255, 0, 0);
    border:3px dashed rgb(255, 0, 0)
}
#water {
    position: relative;
    bottom: 20px;
    left: 102px;
    background-color: rgb(0, 0, 255);
    border:5px double rgb(0, 0, 255);
}
#earth {
    position: relative;
    bottom: 20px;
    left: 150px;
    background-color: rgb(0, 128, 0);
    border:6px groove rgb(0, 128, 0);
}
/*Fim da seção dos botões*/

/*Inicio dos memes prontos*/
#meme-1{
    display: inline-block;
    width: 60px;
    height: 60px;
    border:2px solid;
}
#m1{
    width: 59px;
    height: 59px;
}

#meme-2{
    display: inline-block;
    width: 60px;
    height: 60px;
    border:2px solid;
}
#m2{
    width: 59px;
    height: 59px;
}

#meme-3{
    display: inline-block;
    width: 60px;
    height: 60px;
    border:2px solid;
}
#m3{
    width: 59px;
    height: 59px;
}

#meme-4{
    display: inline-block;
    width: 60px;
    height: 60px;
    border:2px solid;
}
#m4{
    width: 59px;
    height: 59px;
}

#alinhamento{
    position: relative;
    left: 40px;
    bottom: 10px;
}