.meme-image-container {
  border: 1px solid black;
  background-color: white;
  height: 400px;
  width: 400px;
}

.meme-text {
  color: white;
  float: left;
  font-family: fantasy;
  font-size: 30px;
  position: absolute;
  text-shadow: 5px 5px 5px black;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.fire {
  background-color: red;
}

.water {
  background-color: blue;
}

.earth {
  background-color: green;
}

.meme {
  width: 10%;
}